# Some Qt things
Makefile.Release
Makefile.Debug
.qmake.stash
qt-example-calculator.pro.user
qec_resource.rc

# My build things
TinPigeon/app/build/
TinPigeon/app/release/
TinPigeon/app/debug/
TinPigeon/test/build/
TinPigeon/test/release/
TinPigeon/test/debug/
TinPigeon/dcBase.bat
TinPigeon/runApp.bat
TinPigeon/runTests.bat


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
